BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
ELEVENLABS_AGENT_ID=""
ELEVENLABS_API_KEY=""
EMAIL_FROM_ADDRESS="apps@dennise.me"
EMAIL_FROM_NAME="Initiate"
OPENROUTER_API_KEY=""
OPENROUTER_EMBEDDING_DIMENSIONS="768"
OPENROUTER_EMBEDDING_MODEL="openai/text-embedding-3-small"
OPENROUTER_MODEL="openrouter/auto"
OPENROUTER_REFERER="https://initiate.dennise.me"
OPENROUTER_TITLE="Initiate"
REALTIMEKIT_APP_ID=""
REALTIMEKIT_PRESET_NAME="group_call_guest"
