# Client
VITE_ENVIRONMENT="development"
VITE_STRIPE_PUBLISHABLE_KEY=""

# Application
ENVIRONMENT="development"
PLATFORM_URL="http://localhost:3000"
EMAIL_FROM_ADDRESS="apps@dennise.me"
EMAIL_FROM_NAME="Initiate (Development)"

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

# OpenRouter
OPENROUTER_API_KEY=""
OPENROUTER_EMBEDDING_DIMENSIONS="768"
OPENROUTER_EMBEDDING_MODEL="openai/text-embedding-3-small"
OPENROUTER_MODEL="openrouter/auto"
OPENROUTER_REFERER="http://localhost:3000"
OPENROUTER_TITLE="Initiate"

# Cloudflare RealtimeKit
CLOUDFLARE_ACCOUNT_ID="d910f54eba4cf3d1634aa41c3d9a93bc"
CLOUDFLARE_API_TOKEN=""
REALTIMEKIT_APP_ID=""
REALTIMEKIT_PRESET_NAME="group_call_host"

# ElevenLabs
ELEVENLABS_AGENT_ID=""
ELEVENLABS_API_KEY=""

# Stripe
STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
